body {
  background-color: #000;
  color: #fff;
}

h2 {
  color: #fff;
}

h4 {
  color: #fff;
}

#quotePane {
  position: fixed;
  bottom: 0px;
}

#digitalClock {
    display: block;
    font-weight: bold;
    text-align: center;
    width: 200px;
    padding: 10px;
    border:1px solid #000000;
}
 
#analogClock {
    padding: 10px;
}