/*font-family: 'Raleway', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;*/
/** {outline : 1px solid red; }*/

body {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h2 {

}

h4 {
  color: #fff;
}

.hidden {
  display: none;
}

#clockWrapper{
  float: right;
  position: fixed;
  right: 0px;
}

#quotePane {
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  transition: color 7s;
  margin-top: 550px;
}

#quoteAuthor {
  font-size: 24px;
}

#quoteText {
  margin: 15px;
  text-align: center;
}

#digitalClock {
  display: block;
  text-align: right;
  width: 400px;
  font-family: 'Open Sans', sans-serif;
  transition: color 7s;
  font-size: 20px;
  font-weight: 150;
  padding-top: 40px;
}

#digitalTime {
  font-size: 58px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
}
 
#analogClock {
  padding: 10px;
}

#temperature {
  font-size: 47px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  transition: color 7s;
  line-height: 23px;
  margin-top: 47px;
}

#condition {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  transition: color 7s;
  font-size: 23px;
}

#hiLo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  transition: color 7s;
  font-size: 23px;
  margin-top: -38px;
  margin-left: -14px;
}

#weatherPane img{
  width: 100%;
  transition: color 7s;
  margin-top: 21px;
}

#newsPane{
  font-family: 'Open Sans', sans-serif;
  padding: 0px 100px 0px 100px;
  position: fixed;
  bottom: 0px;
}

#newsTitle{
  font-size: 32px;
  font-weight: 300;
  transition: color 7s;
  margin-bottom: 10px;
}

#newsDescription{
  font-size: 26px;
  font-weight: 300;
  margin-top: -15px;
  transition: color 7s;
}