/*font-family: 'Raleway', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif;*/
/** {outline : 1px solid red; }*/

body {
  background-color: #000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h2 {

}

h4 {
  color: #fff;
}

#clockWrapper{
  float: right;
}

#quotePane {
  position: fixed;
  bottom: 0px;

  font-size: 32px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  transition: color 7s;
}

#quoteAuthor {
  font-size: 24px;
}

#quoteText {
  margin: 15px;
}

#digitalClock {
    display: block;
    font-weight: bold;
    text-align: center;
    width: 200px;
    padding: 10px;
    border:1px solid #000000;
    transition: color 7s;
}
 
#analogClock {
    padding: 10px;
}

#temperature {
  font-size: 47px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  transition: color 7s;
  line-height: 23px;
  margin-top: 47px;
}

#condition {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  transition: color 7s;
  font-size: 23px;
}

#hiLo {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  transition: color 7s;
  font-size: 23px;
  margin-top: -38px;
  margin-left: -14px;
}

#weatherPane img{
  width: 100%;
  transition: color 7s;
  margin-top: 21px;
}

#newsPane{
  padding-left: 115px;
}

#newsTitle{
  font-size: 20px;
  font-weight: 600;
  transition: color 7s;
}

#newsDescription{
  font-size: 20px;
  font-weight: 300;
  margin-top: -15px;
  transition: color 7s;
}